@import url('gameplay.css');
@import url('jquery-ui-1.10.4.custom.min.css');
html{
	background: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	color: #575757;
	/*#1992da*/
}
body {
	margin: 0;
	padding: 0;
}
input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 7px 5px;
  height: 30px;
  border: 1px solid #575757;
  font-family: 'Raleway', sans-serif;
}
 
input[type=text]:focus{
  box-shadow: 0 0 5px #1992da;
  padding: 7px 5px;
  border: 1px solid #1992da;
}
#main {
	background: #fff;
	width: 800px;
	height: 500px;
	border: 1px solid #000;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	position: relative;
}

.hidden {
	display: none;
}

.main-title {
	font-size: 50px;
	margin-top: 150px;
}
.title {
	font-size: 40px;
	margin: 20px 0 0 40px;
	width: 100%;
	text-align: left;
}
.level .title {
	font-size: 20px;
	text-align: center;
	margin: 20px 0 0 0;
}
.startup .title {
	margin-top: 150px;
}
.reward .title {
	margin: 80px 0 30px 300px;
}
p.score {
	font-size: 30px;
}

.inline {
	display: inline-block;
}
.align.left {
	width: 200px;
	display: inline-block;
	text-align: right;
}

.ask-name.content,
.confirm-name.content {
	margin-top: 100px;
}

.calib .content {
	margin-top: 20px;
}
.calib img {
	width: 300px;
}
.content.calib4 {
	margin-top: 150px;
}
.settings .content {
	text-align: left;
}

.content.settings {
	float: left;
}

.left-col {
	width: 150px;
	margin-left: 40px;
	margin-right: 40px;
	text-align: left;
	display: inline-block;
	float: left;
}

.level {
	border: 1px solid #000;
	display: inline-block;
	width: 130px;
	height: 100px;
	float: left;
	margin: 8px;
	padding: 1px;
}
.level:hover {
	background-color: #eee;
	cursor: pointer;
}
.level.selected {
	background-color: #ccc;
	border: 2px solid #000;
	padding: 0;
}
.level .desc {
	text-align: left;
	margin: 10px;
}

.error {
	color: #f00;
}

.button {
	font-size: 14px;
	display: inline-block;
	padding: 5px 15px;
	border: 1px solid #000;
	margin: 1px;
	margin-bottom: 16px;
}

.startup .button {
	width: 100px;
}

.button a {
	color: #000;
	text-decoration: none;
}

.button:hover {
	background-color: #eee;
	cursor: pointer;
}

.button.selected {
	background-color: #ccc;
	border: 2px solid #000;
	margin: 0px;
	margin-bottom: 15px;
}

.button.nav {
	position: absolute;
	bottom: 30px;
}
.back {
	left: 50px;
}
.next {
	right: 50px;
}

.instruction{
	text-align: justify;
	line-height: 18px;
	font-size: 14px;
	color: #575757;
	margin: 20px 40px;
}

#c {
	border: 1px solid #000;
	margin-left: 50px;

}